.element {
    width: 550px;
    height: 21px;
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    margin-left: 24px;
    margin-bottom: 34px;
  }
  
  .text {
    margin-left: 16px;
  text-decoration: line-through;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #54595e;
  }
  
  .close {
    margin-left: auto;
    
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #ff0000;
  }